@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */

  color: white;
  background: black;
}

button {
  display: grid;
  place-items: center;

  min-width: 30px;
  min-height: 30px;

  border: 1px solid transparent;
  border-radius: 0.375rem;

  padding: 0.25rem;
}

button:hover {
  border: 1px solid white;
}

button:enabled:active {
  background: white;
  color: black;
}

button:disabled {
  border: 1px solid transparent;
  color: #6a6a6a;
}
