.modal-content {
  min-width: fit-content;
  background-color: transparent;
}

.modal-dialog {
  justify-content: center;
}

.image_content {
  perspective: 1000px;
}

.flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-container.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  max-width: max-content;
  height: auto;
  backface-visibility: hidden;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.back {
  transform: translateY(-50%) translateX(-50%) rotateY(180deg);
}
